th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 6px;
}

td {
  text-align: center;
}

h2 {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.formcenter {
  margin-left: auto;
  margin-right: auto;
}

input, button, label {
  margin-top: 10px;
  margin-right: 10px;
}

.record-button {
  text-align: center;
}





